* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
    font-family: Lato, sans-serif;
    background-color: #f0f0f0;
}

header {
    color: #000000;
    position: relative;
    height: 125px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center; 
    padding: 10px;
}

.logo img {
    width: 120px;  
    height: 120px;
}

.logo a {
    font-size: 1.5em;
    color: rgb(65, 45, 28);
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px; 
    padding-left: -5px;
    display: inline-flex; 
}

.logo a:hover {
    color: #575757;
}

nav {
    position: absolute;
    top: 30px; 
    right: 0px;
}

.navbar {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding: 20px;
    color: #000000;
    background-color: transparent;
    font-family: Monospace;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

nav ul li.cart a {
    background-color: rgb(219, 88, 88);
    color: white;
    border-radius: 5px;
}

nav ul li:hover a {
    background-color: #9d9d9d;
    border-radius: 5px;
}

.banner {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.promotion {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.promotion h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.promo-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.promo-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.promo-item h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #e74c3c;
}

.promo-item p {
    font-size: 16px;
    color: #555;
}



.footer .about {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #544531;
    color: #fff;
    text-align: center;
    margin-top: auto; /* Đẩy footer xuống cuối trang */
}

.footer-content p, a{
    display: flex;
    justify-content: center;
    gap: 20px; 
    white-space: nowrap;
}

footer h2{
    font-size: 18px;
    color: #ffffff;
}

footer p, a{
    margin: 0;
    font-size: 14px;
    color:white;
}

footer a:hover{
    color: #bbacac;

}
